*{
    margin:0;
    padding:0;
}
html,body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.map{
    width: 800px;
    height: 800px;
    background: black;
    position: relative;
    overflow: hidden;
    margin:0 auto;
}
.tank{
    width: 30px;
    height: 30px;
    background: green;
    position: absolute;
    display: inline-block;
    background: url(./images/tank.png);
    background-size: 100%;
}
.tank0{
    background: url(./images/myTank.png);
    background-size: 100%;
}
.bullet{
    width: 3px;
    height: 3px;
    background: white;
    position: absolute;
    display: inline-block;
}
.mapBlock{
    background: url('./images/softWall.png');
    background-size: 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    display: inline-block;
}